@using MedPharmacy.Models
@{
    //Layout = null;
   
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Order List</title>
  
    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
    <link href="//db.onlinewebfonts.com/c/7cc6719bd5f0310be3150ba33418e72e?family=Comic+Sans+MS" rel="stylesheet" type="text/css" />
    <link href="http://allfont.net/allfont.css?fonts=josefin-sans" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=BioRhyme' rel='stylesheet'>
    <style>
        .aa {
            margin-top: 60px;
            margin-bottom: 60px;
        }
    </style>
</head>
<body>
    <div class="container">


        <center>
            <h1 style="margin-top: 60px; color: blue; font-family: BioRhyme">Customer Order List</h1>
        </center>
        <div class="row aa">

            <div class="col-md-12">
                <table class="table table-bordered table-striped table-hover" id="medicinetable">
                    <thead class="headdesign">
                        <tr>
                           
                            <th>CustomerName</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Address</th>
                            <th>MedicineName</th>
                            <th>MedicineAmount</th>
                            <th>Price</th>
                            <th>TotalPrice</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody" class="bodydesign">

                        @foreach (OrderList item in Model)
                        {
                            <tr>
                                <td>@item.CustomerName</td>
                                <td>@item.Email</td>
                                <td>@item.MobileNumber</td>
                                <td>@item.Address</td>
                                <td>@item.MedicineName</td>
                                <td>@item.MedicineAmount</td>
                                <td>@item.Price</td>
                                <td>@item.TotalPrice</td>
                                <td>@item.Date</td>
                        </tr>
                        }
                    </tbody>

                </table>
            </div>

        </div>

    </div>
</body>
@section scripts
{

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#medicinetable').DataTable();
        });
    </script>
}